* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #222222;
    --lightdark: #444444;
    --lighterdark: #555555;
    --light: #eeeeee;
    --darklight: #dddddd;
    --darkerlight: #aaaaaa;
}

html {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    color: var(--light);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightdark);
    text-align: center;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    box-shadow: 0 0.9em 0.5em -0.4em var(--dark);
    animation: fadein 0.6s ease-in-out;
}

.title {
    font-size: 5em;
    font-weight: 200;
    padding: 4rem 0;
    text-shadow: 0 0 1em var(--darkerlight);
}

.display {
    width: 22em;
    height: 12em;
    margin: 1em 0;
    padding: 0.8em;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-shadow: 0 0 0.05em var(--darkerlight);
}

.appear {animation: appear 0.25s ease-in-out}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: auto;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 500;
    padding: 0.4em 0.8em;
    background-color: transparent;
    border: none;
    border-radius: 0.2em;
    box-shadow: 0 0 0.1em 0.1em var(--dark);
    color: var(--light);
    margin: 1rem 0;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    animation: fadein 0.6s ease-in-out;
}

.button:hover {
    cursor: pointer;
    background-color: var(--lighterdark);
    box-shadow: 0 0 0.2em 0.2em var(--dark);
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(1em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 720px) {
    html {
        font-size: 8px;
    }

    .title {
        padding: 5rem 0;
    }

    .display {
        width: 90%;
        height: auto;
        padding: 0;
    }

    .button {
        font-size: 2.5em;
    }
}